*:active {
  -webkit-tap-highlight-color: transparent;
}

body {
  background: linear-gradient(to left, #F3904F , #3B4371);
  margin: 0px;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(var(--vh, 1vh) * 100);
}
